body {
  margin: 1000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: darkolivegreen;
  font-family: Rockwell;
  font-size: 22px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 50px 70px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: yellow;
}

li a:hover:not(.active) {
  background-color: blue;
  color: white;
}